/* Restablecer márgenes y paddings predeterminados */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%; /* Esto asegura que el elemento ocupe toda la anchura */
  background-color: #c9dee3; /* Color de fondo para todo el sitio */
}

.services-header {
  width: 100%; /* Asegura que el cabecero ocupe todo el ancho de la página */
  background-color: #182e43; /* Color de fondo del cabecero */
  color: white; /* Color del texto */
  padding: 20px 0; /* Espaciado superior e inferior */
  text-align: center; /* Alinea el texto al centro */
  margin-bottom: 40px; /* Espacio entre el cabecero y el contenido debajo */
}

.services-header h2 {
  margin: 0; /* Remueve márgenes por defecto */
  font-size: 24px; /* Ajusta el tamaño del texto del título si es necesario */
  color: white;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres servicios por fila */
  gap: 20px; /* Espaciado entre servicios */
  max-width: 1600px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrado y espaciado desde el top */
  padding: 0 20px; /* Padding en los lados para mantener el contenido dentro de una vista móvil */
  margin-top: -90px; 
  padding-top: 70px;
  max-height: 10000px;
}

.service {
  background-color: #fff; /* Fondo blanco para cada servicio */
  border-left: 5px solid #192b5e; /* Borde izquierdo colorido para destacar */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease-in-out; /* Animación al pasar el ratón */
}

.service:hover {
  transform: translateY(-5px); /* Eleva el servicio al pasar el ratón */
}

.service i {
  font-size: 24px; /* Tamaño del icono */
  color: #192b5e; /* Color del icono */
  margin-bottom: 15px; /* Espaciado debajo del icono */
}

.service h3 {
  font-size: 20px; /* Tamaño de fuente del título */
  color: #333; /* Color del texto del título */
  margin-bottom: 10px; /* Espaciado debajo del título */
  border-bottom: 2px solid #0056b3; /* Borde debajo del título */
}

.service p {
  color: #666; /* Color del texto descriptivo */
  font-size: 16px; /* Tamaño de fuente del texto descriptivo */
  line-height: 1.5; /* Altura de línea para mejorar la legibilidad */
}

.service.see-all {
  background-color: transparent;
  border-left: none; /* Sin borde izquierdo */
  text-align: center; /* Texto centrado */
  font-weight: bold; /* Texto en negrita */
}

.service.see-all p {
  color: #192b5e; /* Color del enlace para 'ver todos los servicios' */
  text-decoration: underline; /* Subrayado para indicar que es un enlace */
  cursor: pointer; /* Cursor de tipo puntero para indicar clic */
}
