.cases {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Crea doce columnas para tener un control más fino */
  grid-gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
  background-image: linear-gradient(to bottom, #272626, #000000);
  color: #ffffff; /* Texto en blanco para contraste */
  font-family: 'Arial', sans-serif; /* Tipografía moderna y legible */
}

.cases h2 {
  grid-column: 1 / span 12; /* El título ocupa todas las columnas */
  text-align: center;
  font-size: 56px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: -10px;
}


.case {
  background-color: #ffffff;
  color: #102a43;
  border-radius: 0px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.case:hover {
  transform: translateY(-5px);
}

.case-featured {
  grid-column: 1 / span 8;
}

.case-smaller {
  grid-column: span 4;
}

.info-icon {
  grid-column: 1 / -1; /* Ajuste para dispositivos móviles */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.info-content {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  border-left: 3px solid #ffffff;
  padding-left: 20px;
  margin: 0 20px;
  background-color: rgba(0, 0, 0, 0);
}

.info-content h3, .info-content p {
  color: #ffffff;
  text-align: left;
}

@media (min-width: 769px) {
  .info-icon {
    grid-column: 9 / span 4;
  }
}

@media (max-width: 768px) {
  .cases {
    width: auto;
  }

  .case-featured, .case-smaller, .info-icon {
    grid-column: 1 / -1;
  }

  .case-featured, .case-smaller {
    width: auto;
  }

  .cases h2{
    font-size: 20px;
    text-align: left;
    padding: block;
    display: none;
  }
}

@media (max-width: 480px) {
  .cases {
    grid-template-columns: 1fr;
  }

  .case, .case-featured, .case-smaller, .info-icon {
    grid-column: 1 / -1;
  }

  .case p, .info-content p {
    font-size: 18px;
    margin: 20px;
  }

  .case h3 {
    font-size: 24px;
  }

  .case h4, .info-content h3 {
    font-size: 20px;
  }

  .cases-title {
    font-size: 32px !important; /* Ajusta el tamaño de fuente, usa !important solo como último recurso */
    text-align: left !important; /* Alinea el texto a la izquierda, usa !important solo como último recurso */
    margin-left: 20px !important; /* Asegura un margen izquierdo, usa !important solo como último recurso */
    padding-left: 20px; /* Añade padding si es necesario para alinear el texto */
    margin-top: 70px !important;
  }
}