.team {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.team-header {
  width: 102.4%; /* Cambia el ancho al 100% del ancho de la ventana */
  background-color: #182e43;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0; /* Elimina cualquier margen que pueda estar presente */
  margin-bottom: 40px;
}

.team-header h2 {
  margin: 0; /* Remueve márgenes por defecto */
  font-size: 24px; /* Ajusta el tamaño del texto del título si es necesario */
  color: white;
}

.team h2 {
  grid-column: 1 / -1; /* Asegurándonos de que ocupe toda la fila */
    color: #ffffff; /* Color del texto en blanco para contraste */
    font-size: 68px; /* Tamaño de fuente grande para el título */
    text-align: center; /* Centrar el texto */
    margin: 0 0 20px 0; /* Margen alrededor del título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.region-title {
  cursor: pointer;
  margin: 20px 0;
  padding: 38px;
  font-size: 40px;
  color: #333; /* Color del texto */
  background-color: white; /* Color de fondo para las cabeceras */
  border: none;
  text-align: left;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 50px;
  font-weight: bold; /* Texto en negrita */
}


.region-title:hover,
.region-title:focus {
  background-color: #e6ecf2; /* Color de fondo al pasar el ratón */
}

.region-title::after {
  content: '▼'; /* Puedes usar un ícono en su lugar */
  font-size: 1em;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.region-title.active::after {
  transform: translateY(-50%) rotate(180deg); /* Gira el indicador cuando está activo */
}

.employees {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: max-height 0.5s ease, padding 0.5s ease;
  overflow: hidden;
  max-height: 0;
}

.employees.show {
  max-height: 1000px; /* Este valor debe ser suficientemente alto para contener todos los elementos */
  padding: 20px 0;
}

.employee-card {
  box-sizing: border-box;
  width: calc(50% - 20px); /* 50% para 2 elementos por fila, menos el margen */
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.3s;
}

.employee-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.employee-name {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.employee-title {
  font-size: 1em;
  color: #666;
}

@media (max-width: 480px){
  .team h2 {
    font-size: 32px !important; /* Ajusta el tamaño de fuente, usa !important solo como último recurso */
    text-align: left !important; /* Alinea el texto a la izquierda, usa !important solo como último recurso */
    margin-left: 20px !important; /* Asegura un margen izquierdo, usa !important solo como último recurso */
    padding-left: 20px; /* Añade padding si es necesario para alinear el texto */
  }

  .region-title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .employee-card {
    width: 100%; /* En pantallas pequeñas, cada tarjeta ocupa el 100% del ancho */
    margin: 10px 0;
  }

  .region-title::after {
    content: '▶'; /* Cambiar el indicador para pantallas pequeñas */
    transform: rotate(45);
  }

  .region-title.active::after {
    transform: rotate(90deg); /* Gira el indicador cuando está activo en pantallas pequeñas */
  }
}
