.home {
  height: 1000px;
  display: flex;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease-in-out;
}

.home-content-left,
.home-content-left h1,
.home-content-right p {
  transition: opacity 0.5s ease-in-out;
}

.home-content-left {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  margin-right: 10px;
  margin-top: 80px;
  font-size: 45px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  will-change: opacity, transform;
}

.home-content-right {
  flex: 1;
  text-align: left;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
  margin-top: -100px;
}

.home h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: white;
}

.home-button {
  background-color: #173142;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 15px;
  width: 300px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #1d1b17;
}

.clickable-option,
.selected,
.not-selected {
  cursor: pointer;
  color: white;
  transition: font-size 0.5s ease-in-out, opacity 0.5s ease-in-out,
    background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.selected {
  font-size: 1.2em;
  opacity: 1;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid white;
}

.not-selected {
  opacity: 0.5;
}

@media (min-width: 1913px) {
  .home {
    height: 650px;
  }
  .home-content-left {
    font-size: 20px;
  }
}

@media (max-width: 1910px) {
  .home {
    height: 650px;
  }
  .home-content-left {
    font-size: 30px;
  }
}

/* tablet*/
@media (max-width: 1024px) {
  .home {
    height: auto; /* Altura ajustable según el contenido */
  }

  .home-content-left {
    flex: 1; /* Hace que ambos contenedores tengan la misma flexibilidad */
    margin-right: 50px; /* Ajusta el margen derecho */
    margin-top: 45px;
    padding: 5%; /* Aumenta el padding para mejor lectura */
  }

  .home h1 {
    font-size: 90px; /* Reduce el tamaño del título */
  }

  .home-button {
    width: 100%; /* Hace que el botón se ajuste al contenedor */
    max-width: 250px; /* Limita el ancho máximo del botón */
    margin: 0 auto; /* Centra el botón */
  }
}

/* Estilos para móviles: pantallas menores a 600px */
@media (max-width: 599px) {
  .home {
    flex-direction: column; /* Alinea los contenedores en columna */
    height: 450px;
    margin-bottom: 100px;
  }

  .home-content-left {
    flex: none; /* Elimina la propiedad flex para ajustar manualmente */
    text-align: left; /* Centra el texto */
    padding: 5%; /* Ajusta el padding para un mejor aprovechamiento del espacio */
    width: 80%; /* Hace que ocupe todo el ancho disponible */
    margin-top: 80px;
    font-size: 20px;
    margin-bottom: 60px;
  }

  .home-content-right {
    display: none;
  }

  .home h1 {
    font-size: 2em; /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  .home-button {
    width: 100%; /* Extiende el botón para que ocupe todo el ancho */
    max-width: 200px; /* Ajusta el ancho máximo para móviles */
    margin: 0 auto; /* Centra el botón dentro de su contenedor */
  }
}
