@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s, transform 0.3s ease; /* Añade 'transform' a la transición si usas esta propiedad */
}

.header.hidden {
  transform: translateY(
    -100%
  ); /* o 'top: -100px;' dependiendo de la altura del header */
  transition: transform 0.3s ease; /* Para una transición suave */
}

.header-logo {
  height: 70px; /* Ajusta esto según el tamaño de tu logo */
  animation: spin 3s ease-in-out;
}

.header-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 60px;
}

.header-nav ul li {
  margin: 0 15px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.header-nav ul li a:hover {
  color: #007bff;
}

/* Añade un padding al contenido principal para evitar que quede oculto detrás del encabezado */
body {
  padding-top: 80px; /* Ajusta esto según la altura de tu encabezado */
}

/*SLIDER */
.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(300px + 3em);
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked
  ~ .control-3
  ~ .slide-indicador
  li:nth-child(3)
  .slide-circulo {
  color: #428bca;
}
#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

@media (max-width: 1024px) {
  .header-logo {
    height: 120px; /* Aumenta el tamaño del logo */
    margin-left: 90px; /* Centra el logo horizontalmente */
  }

  .header-nav li {
    font-size: 25px;
    font-weight: bold;
  }

  .header-nav ul {
    margin-right: 90px;
  }
}

@media (min-width: 1120px) {
  .header-logo {
    height: 100px; /* Aumenta el tamaño del logo */
    margin-left: 50px; /* Centra el logo horizontalmente */
  }

  .header-nav li {
    font-size: 28px;
    margin-right: 50px !important;
  }

  .header-nav ul {
    margin-right: 420px;
  }
}

@media (max-width: 480px) {
  .header-logo {
    height: 70px;
    margin-left: 160px;
  }

  .header-nav {
    display: none;
  }
}
