.footer {
  background-color: #000000;
  color: white;
  padding: 40px;
  font-size: 16px; /* Base font size for better scaling */
}

.footer-content {
  display: flex;
  flex-wrap: wrap; /* Allows elements to wrap as needed */
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
}

.footer-column {
  flex: 1;
  min-width: 250px; /* Prevents columns from becoming too narrow */
  margin: 10px; /* Adds some space between columns when they stack */
}

.footer-column h3 {
  font-size: 1.2em; /* Slightly larger for readability */
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-bottom,
.footer-media,
.footer-logo {
  text-align: center;
  font-size: 0.8em;
}

.footer-bottom-icons,
.footer-bottom-icon {
  margin: 0 10px; /* Adjusts margin for evenly spaced icons */
  width: 40px;
  height: 40px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-content,
  .footer-bottom-container {
    justify-content: center;
    flex-direction: column;
  }

  .footer-column,
  .footer-bottom,
  .footer-media,
  .footer-logo {
    flex-basis: 100%;
    text-align: center;
  }

  .footer-media img,
  .footer-logo img {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px;
  }

  .footer-bottom-container {
    flex-direction: column;
  }
}

/* Modo Oscuro */
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #0d1a25;
    color: #c9dee3;
  }

  .footer-content,
  .footer-column {
    border-bottom: 1px solid #4a6fa1;
  }

  .footer-column h3 {
    color: #c9dee3;
    border-bottom: 1px solid #4a6fa1;
  }

  .footer-column ul li,
  .footer-bottom p,
  .footer-media p,
  .footer-logo p {
    color: #c9dee3;
  }

  .footer-bottom-icons,
  .footer-bottom-icon {
    filter: brightness(0) invert(1);
  }
}
